In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import spacy
from collections import Counter
import os
current_path = os.getcwd()
print(current_path)

c:\Users\BFO3515\OneDrive - HCA Healthcare\Documents\Holly Hou\Data\Notebooks

In [28]:

# Try different encodings if the first one doesn't work
encodings = ['latin1', 'iso-8859-1', 'cp1252']

for encoding in encodings:
    try:
        df = pd.read_csv('HTU2024.csv', encoding=encoding)
        print(f"Successfully read the file with encoding: {encoding}")
        break
    except UnicodeDecodeError:
        print(f"Failed to read the file with encoding: {encoding}")
df.columns
# Function to convert column names to kebab-case
def to_kebab_case(col_name):
    return col_name.replace(' ', '_')

# Apply the function to all column names
df.columns = [to_kebab_case(col) for col in df.columns]

Successfully read the file with encoding: latin1

In [3]:


nlp = spacy.load('en_core_web_sm')

def to_lowercase(text):
    doc = nlp(text)
    return ' '.join([token.text.lower() for token in doc])

# Apply the function to the 'Title' column
df['Title'] = df['Title'].astype(str)
df['Title_Lower'] = df['Title'].apply(to_lowercase)

In [46]:
# df.head()

In [45]:
# df.info()

In [44]:
# status_count = df['Invitee_Status'].value_counts()
# status = pd.DataFrame(status_count)
# status.plot(kind='pie', y='count',autopct='%1.1f%%', legend=False)
# print(status)
# # Display the plot
# plt.ylabel('')  # Hide the y-label
# plt.title('Invitee Status Distribution')
# plt.show()

As till 06/04/2024, we have received 80 declined responses. Among those invitees, 36 people offerred a reason. Most of the reasons are about schedule confilts or previous family commitments, or planned vacations. One answer that worth looking into is 'long flight', a member full conference attendee from Scripps Health. Unfortunately, we do not have more detailed info about this attendee's working city and traveling method to better undertand her concerns. 
Please see the attached '2024HTU_declined.csv' file to see the full list of declined invitees. Their email is provided if we want to send follow up emails.

In [43]:
# declined = df[df['Invitee_Status']=='Declined']
# declined['Let_us_know_why_you_can\'t_attend'].dropna()
# #declined.to_csv('./declined.csv')

In [42]:
# # Get the value counts of the 'Registration_Type' column
# regist_count = df['Registration_Type'].value_counts()

# # Convert the Series to a DataFrame
# regist = pd.DataFrame(regist_count).reset_index()
# regist.columns = ['Registration_Type', 'Count']

# # Plot the data as a bar chart with labels
# ax = regist.plot(kind='bar', x='Registration_Type', y='Count', legend=False)
# ax.set_xticklabels(regist['Registration_Type'], rotation=70)

# # Add labels on top of each bar
# for p in ax.patches:
#     ax.annotate(str(p.get_height()), (p.get_x() * 1.005, p.get_height() * 1.005))

# # Show the plot
# plt.ylabel('Count')
# plt.title('Registration Type Counts')
# plt.show()

In [41]:

# pending_attendee = df[df['Invitee_Status'].isin(['No Response', 'Visited'])]
# pending_attendee_company = pending_attendee['Company_Name'].value_counts()
# pending_attendee_company.head(20)

In [40]:


# response_date_count = df['response_date'].value_counts().sort_index()

# # Convert the Series to a DataFrame
# response_date = pd.DataFrame(response_date_count).reset_index()
# response_date.columns = ['response_date', 'count']

# # Plot the data as a bar chart
# ax = response_date.plot(kind='bar', x='response_date', y='count', legend=False)

# # Rotate the x-axis labels for better readability
# #ax.set_xticklabels(response_date['response_date'].dt.strftime('%Y-%m-%d'), rotation=70)

# # Show the plot
# plt.xlabel('Response Date')
# plt.ylabel('Count')
# plt.title('Response Date Count')
# #plt.xticks(rotation = 45)
# plt.show()

In [72]:
check_in = pd.DataFrame(df['Check-In_Date'].value_counts())
check_out = pd.DataFrame(df['Check-Out_Date'].value_counts())

In [39]:

# # Creating DataFrame from the provided data
# data = {
#     'date': ['9-Aug', '10-Aug', '11-Aug', '12-Aug', '13-Aug', '14-Aug', '15-Aug', '16-Aug', '17-Aug'],
#     'check_in/out': [30, 131, 486, 735, -8, -1260, -82, -17, -15],
#     'Guest In house': [30, 161, 647, 1382, 1374, 114, 32, 15, 0]
# }

# df = pd.DataFrame(data)

# # Converting 'date' to datetime format for proper plotting
# #df['date'] = pd.to_datetime(df['date'], format='%d-%b')

# # Plotting the line chart
# plt.figure(figsize=(12, 8))
# plt.plot(df['date'], df['Guest In house'], marker='o', linestyle='-', color='b', label='Guest In house')
# plt.xlabel('Date')
# plt.ylabel('Guest In house')
# plt.title('potential graph, Total Number of Guests In House Over Time')

# # Adding labels to each point
# for i, txt in enumerate(df['Guest In house']):
#     plt.annotate(txt, (df['date'][i], df['Guest In house'][i]), textcoords="offset points", xytext=(0,10), ha='center')

# plt.legend()
# plt.grid(True)
# plt.xticks(rotation=45)
# plt.show()

In [11]:
df['Registration_Type'].value_counts()

Registration_Type
Member Full Conf    774
Comp                527
HCA Full Conf       277
Staff Conf Only     134
Exhibitor           110
Speaker - Member     67
Staff Full Conf      64
HCA conf Only        53
conf Team            46
Advisory Board       34
Speaker-Staff        23
Member Award         19
conf-Only Pass       18
Other Attendee        4
Name: count, dtype: int64

In [19]:
accept = df[df['Invitee_Status'] == 'Accepted']
members = accept[accept['Registration_Type'].isin(['Member Full Conf', 'Speaker - Member', 'Advisory Board', 'Member Award','conf-Only Pass'])]
# member_company = members['Company_Name'].value_counts()
# member_company_df = pd.DataFrame(member_company)
# member_company_df.to_csv('./member_companies.csv')

In [79]:
# def categorize_and_plot_titles(df, title_column):
#     titles = df[title_column].dropna()

#     # Define title categories
#     title_categories = {
#     'Director': ['director', 'regional director', 'sir director', 'sir regional director'],
#     'VP/AVP/GVP': ['vp', 'sir vp', 'svp','avp', 'sir avp','gvp'],
#     'C-suite': ['chief','president','chair','ceo'],
#     }

#     # Define segments
#     segments = {
#     'Pharmacy & clinical': ['pharmacy','pharmacist','clinical','pharm'],
#     'Supply Chain': ['supply chain', 'materials','material', 'purchasing','logistics', 'sourcing','procurement'],
#     'Finances':['CFO', 'finance','financial'],
#     'Physician & nursing':['physician', 'nursing', 'nurse'],
#     'Others': []
#     }
    
#        # Initialize counters
#     title_counts = {category: 0 for category in title_categories}
    
#     # Count titles
#     for title in titles:
#         for category, keywords in title_categories.items():
#             if any(keyword in title for keyword in keywords):
#                 title_counts[category] += 1
    
#     # Plot the results
#     plt.figure(figsize=(10, 6))
#     bars = plt.bar(title_counts.keys(), title_counts.values(), color='skyblue')
    
#     # Adding labels on each bar
#     for bar in bars:
#         yval = bar.get_height()
#         plt.text(bar.get_x() + bar.get_width() / 2, yval, int(yval), ha='center', va='bottom')
    
#     plt.xlabel('Title Categories')
#     plt.ylabel('Count')
#     plt.title('Counts of Titles by Category')
#     plt.grid(axis='y', linestyle='--', alpha=0.7)
#     plt.tight_layout()
    
#     # Show the plot
#     plt.show()

#     # Initialize segment counters
#     segment_counts = {segment: {category: 0 for category in title_categories} for segment in segments}
    
#     # Categorize titles into segments and count
#     for title in titles:
#         categorized = False
#         for segment, keywords in segments.items():
#             if any(keyword.lower() in title.lower() for keyword in keywords):
#                 for category, category_keywords in title_categories.items():
#                     if any(keyword.lower() in title.lower() for keyword in category_keywords):
#                         segment_counts[segment][category] += 1
#                         categorized = True
#         if not categorized:
#             for category, category_keywords in title_categories.items():
#                 if any(keyword.lower() in title.lower() for keyword in category_keywords):
#                     segment_counts['Others'][category] += 1

#     # Convert the segment counts dictionary to a DataFrame
#     segment_df = pd.DataFrame(segment_counts).fillna(0)

#     # Transpose the DataFrame to get segments as rows and categories as columns
#     segment_df = segment_df.T

#     # Plot the data
#     ax = segment_df.plot(kind='bar', stacked=True, figsize=(10, 6))

#     # Add titles and labels
#     plt.title('Title Distribution within Divisions, HCA Members')
#     plt.xlabel('Segments')
#     plt.ylabel('Count')
#     plt.xticks(rotation=45)
#     plt.legend(title='Title Categories', bbox_to_anchor=(1.05, 1), loc='upper left')

#     # Add labels to each bar
#     for i in range(segment_df.shape[0]):
#         for j in range(segment_df.shape[1]):
#             y = segment_df.iloc[i].cumsum()[j]
#             y_shift = segment_df.iloc[i].cumsum().shift(1).fillna(0)[j]
#             if segment_df.iloc[i, j] > 0:  # Only add label if the count is greater than 0
#                 plt.text(i, y - (y - y_shift) / 2, f"{int(segment_df.iloc[i, j])}", ha='center', va='center')

#     # Show the plot
#     plt.tight_layout()
#     plt.show()

In [80]:
# HCA = df[df['Registration_Type'].isin(['HCA Full Conf','HCA conf Only'])]
# categorize_and_plot_titles(HCA, 'Title_Lower')

In [81]:
# categorize_and_plot_titles(members, 'Title_Lower')

In [18]:
df['If_first_time'].value_counts()

If_first_time
None of the Above            1393
1st-Time HTU                  369
New Member & 1st-Time HTU     120
New Member Only                22
First-Time HTU Supplier        22
Name: count, dtype: int64

In [5]:
df['Orientation_Luncheon'].value_counts()

Orientation_Luncheon
Yes    327
No     119
Name: count, dtype: int64

In [7]:
# def plot_luncheon_first_time(df, luncheon_col, first_time_col):
#     # Filter the DataFrame for rows where Orientation_Luncheon is 'Yes'
#     luncheon = df[df[luncheon_col] == 'Yes']
    
#     # Count the occurrences in the If_first_time column
#     lunch_count = luncheon[first_time_col].value_counts()
    
#     # Convert the Series to a DataFrame
#     lunch = pd.DataFrame(lunch_count).reset_index()
#     lunch.columns = [first_time_col, 'count']
    
#     # Plot the data as a pie chart
#     plt.figure(figsize=(8, 8))
#     plt.pie(lunch['count'], labels=lunch[first_time_col], autopct='%1.1f%%', startangle=140)
#     plt.title('First Time Attendance at Orientation Luncheon')
#     plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
#     plt.show()

# # Example usage:
# # Assuming df is your DataFrame
# plot_luncheon_first_time(df, 'Orientation_Luncheon', 'If_first_time')

In [27]:
# state_name_to_code = {
#     'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
#     'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
#     'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
#     'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
#     'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
#     'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
#     'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH',
#     'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
#     'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT',
#     'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY',
#     'District of Columbia': 'DC', 'Puerto Rico': 'PR'
# }

# # Add a new column with state codes
# df['State_Code'] = df['work_state'].map(state_name_to_code)

In [75]:

# # Function to get state code from zip code
# def get_state(zipString):
#     #print(f"Processing zipcode: {zipString} (type: {type(zipString)})")  # Debug print

#     if not isinstance(zipString, str):
#         print('Must pass the zipcode as a string.')
#         return None

#     # if len(zipString) != 5:
#     #     print('Must pass a 5-digit zipcode.')
#     #     return None

#     try:
#         zipcode = int(zipString)
#     except ValueError:
#         print('Invalid zipcode.')
#         return None

#     if 35000 <= zipcode <= 36999:
#         return 'AL'
#     elif 99500 <= zipcode <= 99999:
#         return 'AK'
#     elif 85000 <= zipcode <= 86999:
#         return 'AZ'
#     elif 71600 <= zipcode <= 72999:
#         return 'AR'
#     elif 90000 <= zipcode <= 96699:
#         return 'CA'
#     elif 80000 <= zipcode <= 81999:
#         return 'CO'
#     elif 6000 <= zipcode <= 6389 or 6391 <= zipcode <= 6999:
#         return 'CT'
#     elif 19700 <= zipcode <= 19999:
#         return 'DE'
#     elif 32000 <= zipcode <= 34999:
#         return 'FL'
#     elif 30000 <= zipcode <= 31999 or 39800 <= zipcode <= 39999:
#         return 'GA'
#     elif 96700 <= zipcode <= 96999:
#         return 'HI'
#     elif 83200 <= zipcode <= 83999 and zipcode != 83414:
#         return 'ID'
#     elif 60000 <= zipcode <= 62999:
#         return 'IL'
#     elif 46000 <= zipcode <= 47999:
#         return 'IN'
#     elif 50000 <= zipcode <= 52999:
#         return 'IA'
#     elif 66000 <= zipcode <= 67999:
#         return 'KS'
#     elif 40000 <= zipcode <= 42999:
#         return 'KY'
#     elif 70000 <= zipcode <= 71599:
#         return 'LA'
#     elif 3900 <= zipcode <= 4999:
#         return 'ME'
#     elif 20600 <= zipcode <= 21999:
#         return 'MD'
#     elif 1000 <= zipcode <= 2799 or zipcode in [5501, 5544]:
#         return 'MA'
#     elif 48000 <= zipcode <= 49999:
#         return 'MI'
#     elif 55000 <= zipcode <= 56899:
#         return 'MN'
#     elif 38600 <= zipcode <= 39999:
#         return 'MS'
#     elif 63000 <= zipcode <= 65999:
#         return 'MO'
#     elif 59000 <= zipcode <= 59999:
#         return 'MT'
#     elif 27000 <= zipcode <= 28999:
#         return 'NC'
#     elif 58000 <= zipcode <= 58999:
#         return 'ND'
#     elif 68000 <= zipcode <= 69999:
#         return 'NE'
#     elif 88900 <= zipcode <= 89999:
#         return 'NV'
#     elif 3000 <= zipcode <= 3899:
#         return 'NH'
#     elif 7000 <= zipcode <= 8999:
#         return 'NJ'
#     elif 87000 <= zipcode <= 88499:
#         return 'NM'
#     elif 10000 <= zipcode <= 14999 or zipcode in [6390, 501, 544]:
#         return 'NY'
#     elif 43000 <= zipcode <= 45999:
#         return 'OH'
#     elif 73000 <= zipcode <= 73199 or 73400 <= zipcode <= 74999:
#         return 'OK'
#     elif 97000 <= zipcode <= 97999:
#         return 'OR'
#     elif 15000 <= zipcode <= 19699:
#         return 'PA'
#     elif 300 <= zipcode <= 999:
#         return 'PR'
#     elif 2800 <= zipcode <= 2999:
#         return 'RI'
#     elif 29000 <= zipcode <= 29999:
#         return 'SC'
#     elif 57000 <= zipcode <= 57999:
#         return 'SD'
#     elif 37000 <= zipcode <= 38599:
#         return 'TN'
#     elif 75000 <= zipcode <= 79999 or 73301 <= zipcode <= 73399 or 88500 <= zipcode <= 88599:
#         return 'TX'
#     elif 84000 <= zipcode <= 84999:
#         return 'UT'
#     elif 5000 <= zipcode <= 5999:
#         return 'VT'
#     elif 20100 <= zipcode <= 20199 or 22000 <= zipcode <= 24699 or zipcode == 20598:
#         return 'VA'
#     elif 20000 <= zipcode <= 20099 or 20200 <= zipcode <= 20599 or 56900 <= zipcode <= 56999:
#         return 'DC'
#     elif 98000 <= zipcode <= 99499:
#         return 'WA'
#     elif 24700 <= zipcode <= 26999:
#         return 'WV'
#     elif 53000 <= zipcode <= 54999:
#         return 'WI'
#     elif 82000 <= zipcode <= 83199 or zipcode == 83414:
#         return 'WY'
#     else:
#         return 'none'



# # Drop rows with NaN values in the 'Work_ZIP/Postal_Code' column
# df1 = df.dropna(subset=['Work_ZIP/Postal_Code'])

# # Convert the 'Work_ZIP/Postal_Code' column to strings after removing '.0'
# df1['Work_ZIP/Postal_Code'] = df1['Work_ZIP/Postal_Code'].apply(lambda x: str(int(float(x))))

# # Apply the get_state function to get state codes from zip codes
# df1['State_Code'] = df1['Work_ZIP/Postal_Code'].apply(get_state)

# # Display the DataFrame with state codes
# print(df1[['Work_City', 'Work_ZIP/Postal_Code', 'State_Code']])

In [25]:
# # Assuming df1 is your initial DataFrame
# state_counts = df['State_Code'].value_counts()

# # Convert to DataFrame and reset the index
# df_state = pd.DataFrame(state_counts).reset_index()
# df_state.columns = ['State_Code', 'count']

# # Create a choropleth map
# fig = px.choropleth(
#     df_state,
#     locations='State_Code',
#     locationmode="USA-states",
#     color='count',
#     scope="usa",
#     color_continuous_scale="reds",
#     title="State Counts"
# )

# # Show the plot
# fig.show()

In [26]:
# acute_count = members['acute/nonacute'].value_counts()
# acute = pd.DataFrame(acute_count)
# acute.plot(kind='bar')



# plt.title('Acute/NonAcute Facilities distribution')
# plt.xticks(rotation = 45)
# plt.show()

### Sepcial request
- Allergies & diet
- hotel requests
- food preferrence 
- ADA requests

In [32]:
allergy_count = df['Allergy'].value_counts()
allergy = pd.DataFrame(allergy_count)
allergy

             count
Allergy
Shell fish      22
pork             4
Pescatarian      3
Avacado          3
eggs             3
grapefruit       2
fish             2
Seafood          2
Celery           2
Salmon           2
Onion            2
pork             1
Oranges          1
Papaya           1
Peanuts          1
watermelon       1
Pineapple        1
Poppy Seeds      1
shrimp           1
soy              1
quinoa           1
red meat         1
Tree Nuts        1
Soy              1
Orange           1
sea food         1
Trout            1
mangos           1
Mushroom         1
Alcohal          1
Almonds          1
Beef             1
beef             1
bell pepper      1
butter           1
cantaloupe       1
Cashews          1
cilantro         1
Crab             1
Crustaceans      1
fried foods      1
Garlic           1
honeydew         1
Kiwi             1
legumes          1
Mango            1
mango            1
Zucchini         1